#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
  max-width: 100vw;
}


body {
  margin: 0;
  overflow-x: hidden;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.blue {
  background: #3c31dd;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
}

.dark {
  background: #0f0f10;
}

.curve {
  position: relative;
  height: 225px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

.curve::before,
.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: var(--before-bg); /* oder var(--after-bg) für das ::after-Element */
  border: none; /* Keine Ränder */
  box-shadow: none; /* Keine Schatten */
  outline: none; /* Keine Konturen */
}

/* Für das ::before-Element spezifische Positionierung */
.curve::before {
  transform: translate(85%, 60%);
}

/* Für das ::after-Element spezifische Positionierung */
.curve::after {
  transform: translate(-85%, -60%);
  background-color: var(--after-bg); /* Farbe für ::after */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react.spin {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*! Carousel naviagtion buttons down. Move pls */
button.MuiButtonBase-root > svg {
  z-index: 9999999;
}

/*! also move */
.MuiSelect-select {
  border-color: "#FFFFFF" !important;
  border-top-color: "#FFFFFF" !important;
}